.divText {
  position: absolute;
  display: inline-block;
  padding: 8px;
  word-break: break-all;
  cursor: default;
}

.divText[contenteditable='true'] {
  cursor: text;
}

.divText.isDragging {
  cursor: move;
}

.divText:focus {
  outline: transparent;
}
