.divText {
  position: absolute;
  display: inline-block;
  padding: 8px;
  word-break: break-all;
  cursor: pointer;
}

.divText:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.divText[contenteditable='true'] {
  cursor: text;
}

.divText.isDragging {
  cursor: move;
}

.divText:focus {
  outline: transparent;
}
